<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/metro")

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <script>
        var url = $(location).attr("href");
        console.log(url);
    </script>
    <div data-role="cube"
         data-color="bg-cyan bd-darkCyan"
         data-flash-color="#aa00ff"></div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
